<!DOCTYPE html>
<html>
{include file="public:header"}

<body class="no-skin">
  
  <!--头部-->
  {include file="public:nav"}
  <div class="main-container ace-save-state" id="main-container">
    <!--菜单-->
    <script type="text/javascript">
      try { ace.settings.loadState('main-container') } catch (e) { }
    </script>

    {include file="public:left"}
    <div class="main-content">
      <div class="main-content-inner">
        

        <div class="page-content">
          {include file="public:set"}

          <div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="alert alert-block alert-success">
									
								</div>

								<div class="row">
									<div class="space-6"></div>

									<div class="col-sm-7">
										<div class="infobox infobox-green">
											<div class="infobox-icon">
												<i class="ace-icon fa fa-comments"></i>
											</div>

											<div class="infobox-data">
												<span class="infobox-data-number">32</span>
												<div class="infobox-content">已审核</div>
											</div>

											<div class="stat stat-success">8%</div>
										</div>

										<div class="infobox infobox-blue">
											<div class="infobox-icon">
												<i class="ace-icon fa fa-twitter"></i>
											</div>

											<div class="infobox-data">
												<span class="infobox-data-number">11</span>
												<div class="infobox-content">待审核</div>
											</div>

											<div class="badge badge-success">
												+32%
												<i class="ace-icon fa fa-arrow-up"></i>
											</div>
										</div>

										<div class="infobox infobox-pink">
											<div class="infobox-icon">
												<i class="ace-icon fa fa-shopping-cart"></i>
											</div>

											<div class="infobox-data">
												<span class="infobox-data-number">8</span>
												<div class="infobox-content">new orders</div>
											</div>
											<div class="stat stat-important">4%</div>
										</div>

										<div class="infobox infobox-red">
											<div class="infobox-icon">
												<i class="ace-icon fa fa-flask"></i>
											</div>

											<div class="infobox-data">
												<span class="infobox-data-number">7</span>
												<div class="infobox-content">experiments</div>
											</div>
										</div>

									


										<div class="space-6"></div>

									

										<div class="widget-box widget-color-blue">
											<div class="widget-header">
												<h5 class="widget-title bigger lighter">
								<i class="ace-icon fa fa-area-chart"></i>
								<span>热门文章统计</span>
							</h5>
											</div>
											<div class="widget-body">
												<div class="widget-main no-padding">
													<table class="table table-bordered table-hover">
														<thead>
															<tr>
																<th>标题</th>
																<th><em>浏览量</em></th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td><span class="badge badge-pink">1</span>
																	<a href="/home/news/index/id/43.html" target="_blank">2017中华杯国际少儿书画大赛征稿中</a>
																</td>
																<td>524</td>
															</tr>
															<tr>
																<td><span class="badge badge-yellow">2</span>
																	<a href="/home/news/index/id/2.html" target="_blank">发达国家儿童美术教育的现代化特征</a>
																</td>
																<td>355</td>
															</tr>
															<tr>
																<td height="25"><span class="badge badge-danger">3</span>
																	<a href="/home/news/index/id/19.html" target="_blank">内画基本概述</a>
																</td>
																<td>334</td>
															</tr>
															<tr>
																<td height="25"><span class="badge badge-warning">4</span>
																	<a href="/home/news/index/id/27.html" target="_blank">少儿学艺热中存在哪些误区？</a>
																</td>
																<td>322</td>
															</tr>
															<tr>
																<td height="25"><span class="badge badge-success">5</span>
																	<a href="/home/news/index/id/32.html" target="_blank">2013中华杯国际少儿书画大赛征稿中</a>
																</td>
																<td>310</td>
															</tr>
															<tr>
																<td height="25"><span class="badge badge-inverse">6</span>
																	<a href="/home/news/index/id/26.html" target="_blank">少儿绘画：色彩教学的方法与步骤</a>
																</td>
																<td>287</td>
															</tr>
															<tr>
																<td>
																	<span class="badge badge-purple">7</span>
																	<a href="/home/news/index/id/35.html" target="_blank">2016中华杯国际少儿书画大赛征稿中</a>
																</td>
																<td>286</td>
															</tr>
															<tr>
																<td height="25"><span class="badge badge-info">8</span>
																	<a href="/home/news/index/id/34.html" target="_blank">2015中华杯国际少儿书画大赛征稿中</a>
																</td>
																<td>282</td>
															</tr>
															<tr>
																<td height="25"><span class="badge badge-grey">9</span>
																	<a href="/home/news/index/id/10.html" target="_blank">富贵有余</a>
																</td>
																<td>275</td>
															</tr>
															<tr>
																<td height="25"><span class="badge">10</span>
																	<a href="/home/news/index/id/25.html" target="_blank">钢笔字楷书笔画基础书写要领</a>
																</td>
																<td>273</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>

									</div>

									<div class="vspace-12-sm"></div>

									<div class="col-sm-5">
										<div class="widget-box widget-color-pink">
											<div class="widget-header widget-header-flat widget-header-small">
												<h5 class="widget-title">
													<i class="ace-icon fa fa-info"></i>
													框架信息
												</h5>

											</div>

											<div class="widget-body">
												<div class="widget-main">
													<p class="alert alert-danger sl-line-height25">
														系统信息：基于 <strong>朵朵科技CMF内容管理框架</strong> 定制开发.<br> 系统版本：v_1.0 &nbsp;<br> 内核版本：ThinkPHP5.0.4
														<br> 上传附件限制：200M
														<br> 服务器系统：Microsoft-IIS/8.0
														<br>
													</p>
												</div>
												<!-- /.widget-main -->
											</div>
											<!-- /.widget-body -->
										</div>
										<!-- /.widget-box -->
<div class="space-6"></div>
										<div class="widget-box widget-color-dark">
											<div class="widget-header widget-header-flat">
												<h4 class="widget-title smaller">
													技术支持
												</h4>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													<div class="alert alert-info">
														"创新"是朵朵的生存之本，"诚信"是朵朵的一贯宗旨。优质服务、塑造互联网领域的品牌是我们的 前进目标。在朵朵科技 ，我们坚信，只有提供一流的服务，才能赢得用户长久的信任，热诚希望与您的合作能够成功!
														<br>
													</div>
													<div class="row">
														<div class="col-xs-12">
															<blockquote class="pull-right">
																<p>优质服务、塑造互联网领域的品牌是我们的 前进目标。</p>

																<small>
																	朵朵科技</small>
															</blockquote>
														</div>
													</div>

													<hr>
													<address>
														<strong>联系我们</strong>

														<br>
														郑州市金水区花园路国基路
														<br>
														恒华大厦806室
														<br>
														<i class="ace-icon fa fa-phone"></i>
														(0371) 56776661
													</address>

													<address>
														<strong>E-mail</strong>

														<br>
														<a href="mailto:279585301@qq.com">279585301@qq.com</a>
													</address>
												</div>
											</div>
										</div>

									</div>
									<!-- /.col -->
								</div>
								<!-- /.row -->

								<div class="hr hr32 hr-dotted"></div>

								<!-- PAGE CONTENT ENDS -->
							</div>
							<!-- /.col -->
						</div>

          <div class="row">
            <div class="col-xs-12">
              <!-- PAGE CONTENT BEGINS -->
              

              <div class="row">

                <div class="col-xs-12">
                    <div class="col-sm-7">
                        <!-- <div class="widget-box transparent">
                          <div class="widget-header widget-header-flat">
                            <h4 class="widget-title smaller">
                              数据统计
                            </h4>
                          </div>
                          <div class="widget-body">
                            <div class="widget-main no-padding">
                                <table class="table table-bordered table-striped">
                                  <thead class="thin-border-bottom">
                                    <tr>
                                      <th>
                                        <i class="ace-icon fa fa-caret-right blue"></i>
                                        模块</th>
                                      <th>数据</th>
                                      <th>本周新增</th>
                                      <th>本月新增</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                  <tr>
                                    <td>会员数量</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>站内通信</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  </tbody>
                                </table>
                            </div>
                          </div>
                        </div>
        
                        <div class="space-6"></div>
        
                        <div class="widget-box transparent">
                          <div class="widget-header">
                            <h5 class="widget-title bigger lighter">
                              <i class="ace-icon fa fa-area-chart"></i>
                              <span>今日升级申请</span>
                            </h5>
                          </div>
                          <div class="widget-body">
                            <div class="widget-main no-padding">
                              <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                  <th>申请人</th>
                                  <th><em>申请时间</em></th>
                                </tr>
                                </thead>
                                <tbody>
                                
                                  <tr>
                                  <td><span class="badge badge-pink"></span>
                                 
                                    <a href="{:url('Apply/lister')}"></a>
                                  </td>
                                  <td></td>
                                </tr>
                              
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div> -->
        
                       
                      </div>

                      <div class="vspace-12-sm"></div>

                      <div class="col-sm-10">
                        <div class="widget-box widget-color-dark transparent">
                          <div class="widget-header widget-header-flat">
                            <h4 class="widget-title smaller">
                              服务器信息
                            </h4>
                          </div>
        
                          <div class="widget-body">
                              <table class="table table-striped table-bordered table-hover">
                         
                                  <tbody>
                                    <tr>
                                      <td class="">服务器操作系统</td>
                                      <td>
                                        <a href="javascript:;">{$system_config['os']}</a>
                                      </td>
                                   
                                    </tr>
                                    <tr>
                                      <td class="">服务器域名</td>
                                      <td>
                                        <a href="javascript:;">{$system_config['dns']}</a>
                                      </td>
                                    
                                    </tr>
                                 
                                    <tr>
                                      <td class="">服务器环境</td>
                                      <td>
                                        <a href="javascript:;">{$system_config['server_software']}</a>
                                      </td>
                                    
                                    </tr>
                                    <tr>
                                      <td class="">PHP版本</td>
                                      <td>
                                        <a href="javascript:;">{$system_config['php_version']}</a>
                                      </td>
                                    
                                    </tr>
                                    <tr>
                                      <td class="">文件上传限制</td>
                                      <td>
                                        <a href="javascript:;">{$system_config['upload_max_filesize']}</a>
                                      </td>
                                    
                                    </tr>
                                    <tr>
                                      <td class="">curl支持</td>
                                      <td>
                                        <a href="javascript:;">{if condition="$system_config['curl'] eq true"}支持{else/}<span style="color:red;">不支持，微信和支付宝等功能将无法正常使用</span>{/if}</a>
                                      </td>
                                    
                                    </tr>
        
                                    <tr>
                                      <td class="">openssl支持</td>
                                      <td>
                                        <a href="javascript:;">{if condition="$system_config['openssl'] eq true"}已开启{else/}<span style="color:red;">未开启，不支持https</span>{/if}</a>
                                      </td>
                                    
                                    </tr>
                                    <tr>
                                      <td class="">uploads目录权限</td>
                                      <td>
                                        <a href="javascript:;">{if condition="$system_config['upload_dir_jurisdiction'] eq 1"}可读可写{else/}<span style="color:red;">不可读不可写，会造成图片无法上传和访问</span>{/if}</a>
                                      </td>
                                    
                                    </tr>
                                    <tr>
                                      <td class="">runtime目录权限</td>
                                      <td>
                                        <a href="javascript:;">{if condition="$system_config['runtime_dir_jurisdiction'] eq 1"}可读可写{else/}<span style="color:red;">不可读不可写，会造成编译文件缓存文件无法生成读取，是网站访问出错</span>{/if}</a>
                                      </td>
                                    
                                    </tr>
        
                                 
                                  </tbody>
                                </table>
                          </div>
                        </div>
                      </div><!-- /.col -->
                
                </div>

          </div><!-- /.row -->
        </div><!-- /.page-content -->
      </div>
      
    </div><!-- /.main-content -->

    {include file="public:footer"}

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
      <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
  </div><!-- /.main-container -->



  <script>
    jQuery(function ($) {
      $('[data-rel=tooltip]').tooltip();

      $("#hide-option").tooltip({
        hide: {
          effect: "explode",
          delay: 250
        }
      });

    })
  </script>

</body>

</html>