<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
  <script type="text/javascript">
    try{ace.settings.loadState('sidebar')}catch(e){}
  </script>

  <div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
      <a  class="btn btn-success" href="{:url('Index/index/index')}" target="_blank" title="前台首页">
        <i class="ace-icon fa fa-globe"></i>
      </a>

      <a class="btn btn-info" href="javascript:;" data-rel="tooltip" data-placement="bottom" title="添加文章">
        <i class="ace-icon fa fa-pencil"></i>
      </a>

      <a class="btn btn-warning" href="{:url('Sys/seo')}" data-rel="tooltip" data-placement="bottom" title="网站优化">
        <i class="ace-icon fa fa-wrench"></i>
      </a>

      <button class="btn btn-danger tooltip-error" id="cache" data-rel="tooltip" data-placement="bottom" title="清除缓存">
        <i class="ace-icon fa fa-refresh"></i>
      </button>
    </div>
<script>
$(function(){
	$("#cache").on(ace.click_event,function(){
	    layer.confirm('确认要清除缓存?',{icon: 3},function (index) {
	    	$.post("{:url('Index/clearruntime')}",{user:1},function(data){
	    		layer.alert("缓存清理成功");
	    		});
	      layer.close(index);
	    });
	  })
	
	});
</script>
    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
      <span class="btn btn-success"></span>

      <span class="btn btn-info"></span>

      <span class="btn btn-warning"></span>

      <span class="btn btn-danger"></span>
    </div>
  </div><!-- /.sidebar-shortcuts -->

  <ul class="nav nav-list">
    {if condition="CONTROLLER_NAME eq 'Index'"}<li class="active">{else /}<li class="">{/if}
      <a href="{:url('Index/index')}">
        <i class="menu-icon fa fa-tachometer"></i>
        <span class="menu-text"> 控制台 </span>
      </a>

      <b class="arrow"></b>
    </li>
 
  {if condition="CONTROLLER_NAME eq 'News'"}<li class="open">{else /}<li class="">{/if}
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-paper-plane"></i>
        <span class="menu-text"> 内容管理 </span>
        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>
      <ul class="submenu">
       {if condition="ACTION_NAME eq 'lister'"}<li class="active">{else /}<li class="">{/if}
          <a href="{:url('News/lister')}">
            <i class="menu-icon fa fa-caret-right"></i>
            新闻发布
          </a>

          <b class="arrow"></b>
        </li>
        {if condition="ACTION_NAME eq 'lingdao'"}<li class="active">{else /}<li class="">{/if}
          <a href="{:url('News/lingdao')}">
            <i class="menu-icon fa fa-caret-right"></i>
            领导发布
          </a>

          <b class="arrow"></b>
        </li>
        {if condition="ACTION_NAME eq 'wenjian'"}<li class="active">{else /}<li class="">{/if}
          <a href="{:url('News/wenjian')}">
            <i class="menu-icon fa fa-caret-right"></i>
            政府公文
          </a>

          <b class="arrow"></b>
        </li>
      </ul>
    </li>

    {if condition="CONTROLLER_NAME eq 'Message'"}<li class="open">{else /}<li class="">{/if}
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-thumbs-up"></i>
        <span class="menu-text"> 评论管理 </span>
        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>
      <ul class="submenu">
       {if condition="ACTION_NAME eq 'news'"}<li class="active">{else /}<li class="">{/if}
          <a href="{:url('Message/news')}">
            <i class="menu-icon fa fa-caret-right"></i>
            新闻评论管理
          </a>

          <b class="arrow"></b>
        </li>

        {if condition="ACTION_NAME eq 'consult'"}<li class="active">{else /}<li class="">{/if}
          <a href="{:url('Message/consult')}">
            <i class="menu-icon fa fa-caret-right"></i>
            网上咨询
          </a>

          <b class="arrow"></b>
        </li>
        
      </ul>
    </li>

    {if condition="CONTROLLER_NAME eq 'Column'"}<li class="open">{else /}<li class="">{/if}
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-picture-o"></i>
        <span class="menu-text"> 栏目管理 </span>
        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>
      <ul class="submenu">
       {if condition="ACTION_NAME eq 'lister'"}<li class="active">{else /}<li class="">{/if}
          <a href="{:url('Column/lister')}">
            <i class="menu-icon fa fa-caret-right"></i>
            栏目列表
          </a>
          <b class="arrow"></b>
        </li>

        {if condition="ACTION_NAME eq 'nav'"}<li class="active">{else /}<li class="">{/if}
          <a href="{:url('Column/nav')}">
            <i class="menu-icon fa fa-caret-right"></i>
            导航栏目列表
          </a>
          <b class="arrow"></b>
        </li>
  
      </ul>
    </li>

    {if condition="CONTROLLER_NAME eq 'Link'"}<li class="open">{else /}<li class="">{/if}
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-link"></i>
        <span class="menu-text"> 友情链接 </span>
        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>
      <ul class="submenu">
       {if condition="ACTION_NAME eq 'lister'"}<li class="active">{else /}<li class="">{/if}
          <a href="{:url('Link/lister')}">
            <i class="menu-icon fa fa-caret-right"></i>
            链接管理
          </a>
          <b class="arrow"></b>
        </li>

        {if condition="ACTION_NAME eq 'index'"}<li class="active">{else /}<li class="">{/if}
          <a href="{:url('Link/index')}">
            <i class="menu-icon fa fa-caret-right"></i>
            栏目管理
          </a>
          <b class="arrow"></b>
        </li>
  
      </ul>
    </li>
    
    {if condition="CONTROLLER_NAME eq 'Site'"}<li class="open">{else /}<li class="">{/if}
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-desktop"></i>
        <span class="menu-text"> 站点管理 </span>
        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>
      <ul class="submenu">
       {if condition="ACTION_NAME eq 'lister'"}<li class="active">{else /}<li class="">{/if}
          <a href="{:url('Site/user_login_log')}">
            <i class="menu-icon fa fa-caret-right"></i>
            个人登录日志
          </a>

          <b class="arrow"></b>
        </li>

        {if condition="ACTION_NAME eq 'other'"}<li class="active">{else /}<li class="">{/if}
          <a href="{:url('Site/other')}">
            <i class="menu-icon fa fa-caret-right"></i>
            其他设置
          </a>

          <b class="arrow"></b>
        </li>

        {if condition="ACTION_NAME eq 'banner'"}<li class="active">{else /}<li class="">{/if}
          <a href="{:url('Site/banner')}">
            <i class="menu-icon fa fa-caret-right"></i>
            广告图
          </a>

          <b class="arrow"></b>
        </li>
        
      </ul>
    </li>

    <!--      {if condition="CONTROLLER_NAME eq 'Goods'"}<li class="open">{else /}<li class="">{/if}
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-paper-plane"></i>
        <span class="menu-text"> 商品管理 </span>

        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>

      <ul class="submenu">
        {if condition="ACTION_NAME eq 'lister'"}<li class="active">{else /}<li class="">{/if}
          <a href="{:url('Goods/lister')}">
            <i class="menu-icon fa fa-caret-right"></i>
            商品列表
          </a>

          <b class="arrow"></b>
        </li>
     {if condition="ACTION_NAME eq 'type'"}<li class="active">{else /}<li class="">{/if}
          <a href="{:url('Goods/goods_type')}">
            <i class="menu-icon fa fa-caret-right"></i>
            商品分类
          </a>

          <b class="arrow"></b>
        </li>
     
      </ul>

    </li>

    {if condition="CONTROLLER_NAME eq 'Carte'"}<li class="open">{else /}<li class="">{/if}
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-reorder"></i>
        <span class="menu-text"> 菜单管理 </span>

        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>

      <ul class="submenu">
        {if condition="ACTION_NAME eq 'lister'"}<li class="active">{else /}<li class="">{/if}
          <a href="{:url('Carte/lister')}">
            <i class="menu-icon fa fa-caret-right"></i>
            后台模块
          </a>

          <b class="arrow"></b>
        </li>
    
     
      </ul>

    </li>
    
    {if condition="CONTROLLER_NAME eq 'User'"}<li class="open">{else /}<li class="">{/if}
        <a href="#" class="dropdown-toggle">
          <i class="menu-icon fa fa-reorder"></i>
          <span class="menu-text"> 管理员管理 </span>
  
          <b class="arrow fa fa-angle-down"></b>
        </a>
  
        <b class="arrow"></b>
  
        <ul class="submenu">
          {if condition="ACTION_NAME eq 'lister'"}<li class="active">{else /}<li class="">{/if}
            <a href="{:url('User/lister')}">
              <i class="menu-icon fa fa-caret-right"></i>
              管理员列表
            </a>
  
            <b class="arrow"></b>
          </li>
      
       
        </ul>
  
      </li> -->
  
  

  
    
  </ul><!-- /.nav-list -->

  <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
  </div>
</div>