<!DOCTYPE html>
<html lang="en">

{include file="public:header"}
<style>
	.header_other {
		top: 0;
		left: auto;
		right: 0;
	}

	.index_nav {
		background-color: #2e8fd3;
	}
	.serve_item {
		border-bottom: 1px solid #efefef;
	}
	.serve_item h6 {
		margin-bottom: 20px;
	}
	.serve_item ul {
		background-color: transparent;
	}
	.serve_item ul li {
		width: auto;
		margin-right: 20px;
		margin-bottom: 20px;
		padding: 0 10px;
		background-color: #89B3EC;
		color: #fff;
	}
</style>

<body {if condition="$other['qstatus'] eq 1"} class="discolorClass" {/if} >
	<div class="wrap_neiye" style="background-image: url(__HOME__/img/neiye_bg.jpg)">
		<div class="header_container">
			<div class="common_wrap">
				{include file="public:top"}
<!-- 中间切换盒子 -->
<div class="index_tab">
	<div class="index_wrap">
		<!-- 切换头部 -->
		{include file="public:nav"}
	</div>
</div>

				<!-- 新闻列表 -->
				<div class="listing" id="article_cont">
					<div class="listing_crumb">
						当前位置：<a href="{:url('Index/index')}">中国周口</a>&gt;<a  >便民服务</a>
					</div>
					<div class="leader_box">
						<div class="leader_title">
							<div class="listing_left_title">
								<i class="iconfont icon-lingdao1"></i>
								<span>便民服务</span>
							</div>
						</div>
						<div class="leader_wrap">
							<div class="leader_wrap_body">
								<div class="leader_wrap_cont active">
									<div class="leader_list">
									  {volist name="bmfu" id="v"}	
										<div class="leader_item serve_item">
											<h6>{$v.title}</h6>
											<ul>
											 {volist name="$v['list']" id="vs"}	
												<li><a href="javascript::"  data-url="{$vs.url}" class="out_link" target="_blank"><span>{$vs.title}</span>
													</a></li>
											 {/volist}
											</ul>
										</div>
									{/volist}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{include file="public:footer"}
</body>

</html>