<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body>
	<section class="webkit_box">
		<section class="webkit_content">
			<div class="wrap_container" style="background-image: url(__HOME__/img/wrap_bg.jpg)">
				<header class="header_container">
					<div class="common_wrap">
					   {include file="public:top"}
						<!-- 撑起的div -->
						<div class="cheng_div"></div>
						<!-- 中间切换盒子 -->
						<div class="index_tab">
							<div class="index_wrap">
								<!-- 切换头部 -->
								<ul class="index_nav index">
									<li class="index_nav_item on">
										<a href="javascript:(0);" title="网站首页">网站首页</a>
									</li>
									<li class="index_nav_item">
										<a href="javascript:(0);" title="政务公开">政务公开</a>
									</li>
									<li class="index_nav_item">
										<a href="javascript:(0);" title="政务服务">政务服务</a>
									</li>
									<li class="index_nav_item">
										<a href="javascript:(0);" title="政民互动">政民互动</a>
									</li>
									<li class="index_nav_item">
										<a href="javascript:(0);" title="走进周口">走进周口</a>
									</li>
									<!-- <li class="index_nav_item">
										<a href="javascript:(0);" title="周口荟萃">周口荟萃</a>
									</li> -->
								</ul>
								<!-- 按钮仅首页有 -->
								<div class="index_action">
									<i class="iconfont icon-daohang-copy"></i>
								</div>
							</div>

							<!-- 头条新闻 -->
							<div class="header_news">
								<h3 class="header_news_title">
									<a href="{:url('News/detail',array('nid'=>$retop['id']))}" target="_blank" title="{$retop.title}">{$retop.title}</a>
								</h3>
								<div class="header_news_wrap" id="news_wrap">
									<div class="bd">
										<ul>
											{volist name="reb" id="vb"}
											<li class="header_news_cont"><a href="{:url('News/detail',array('nid'=>$vb['id']))}" target="_blank" title="{$vb.title}">{$vb.title}</a></li>
											
											{/volist}
										</ul>
									</div>
								</div>
							</div>

							<div class="index_tab_list">

								<div class="index_tab_wrap">
									<!-- 网站首页 -->
									<div class="index_tab_item on">
										<div class="index_box clearfix">
											<div class="index_box_banner float_lt">
												<div class="banner_tab banner_box">
													<div class="hd">
														<ul>
														{volist name="ret" key="k" id="vt"}
															<li {if condition="$k eq 0"} class="on" {/if} ></li>
														{/volist}	
														</ul>
													</div>
													<div class="bd">
														<ul>
														   {volist name="ret" id="vt"}	
															<li style="background-image: url(/uploads/{$vt.coverimage})">
																<a class="banner_txt" href="{:url('News/detail',array('nid'=>$vt['id']))}" target="_blank" title="{$vt.title}">
																	<span>{$vt.title}</span>
																</a>
															</li>
															{/volist}
														</ul>
													</div>
												</div>
											</div>
											<div class="index_box_news float_rt">
												<div class="news_box">
													<div class="hd">
														<ul>
															<li class="on">
																<a href="{:url('News/index',array('code'=>'zkyw'))}" title="周口要闻">
																	<i class="iconfont icon-xinwen"></i>周口要闻
																</a>
															</li>
															<li>
																<a href="javascript:;" title="国务院信息" target="_blank" data-url="http://www.gov.cn/pushinfo/v150203/" class="out_link">
																	<i class="iconfont icon-wendang"></i>国务院信息
																</a>
															</li>
															<li>
																<a href="{:url('News/index',array('code'=>'bmdt'))}" title="部门动态" >
																	<i class="iconfont icon-youjian"></i>部门动态
																</a>
															</li>
															<li>
																<a href="{:url('News/index',array('code'=>'xqdt'))}" title="县区动态" >
																	<i class="iconfont icon-wenjian"></i>县区动态
																</a>
															</li>
															<li>
																<a href="{:url('News/index',array('code'=>'tzgg'))}" title="通知公告" >
																	<i class="iconfont icon-gonggao"></i>通知公告
																</a>
															</li>
														</ul>
													</div>
													<div class="bd">
														<ul>
															<li>
																<div class="news_wrap">
																	<div class="news_list">
																			{volist name="rey" id="vy"}
																			<a class="news_item" href="{:url('News/detail',array('nid'=>$vy['id']))}" target="_blank">
																<p title="{$vy.title}">{$vy.title}</p>
																<span>{$vy.createtime|mb_substr=0,10,'utf-8'}</span>
															</a>
															{/volist}
																	</div>
																</div>
															</li>
														</ul>
														<ul>
															<li>
																<div class="news_wrap">
																	<div class="news_list">
																		{volist name="reg" id="vg"}
																			<a class="news_item out_link" href="javascript:;" data-url="http://www.gov.cn/premier/{$vg['Unix_timestamp(createtime)']|date='Y-m/d',###}/content_{$vg.zhongguogovid}" target="_blank">
																<p title="{$vy.title}">{$vg.title}</p>
																<span>{$vg['Unix_timestamp(createtime)']|date="Y-m-d",###}</span>
															</a>
															{/volist}
					
																	</div>
																</div>
															</li>
														</ul>
														<ul>
															<li>
																<div class="news_wrap">
																	<div class="news_list">
																		{volist name="reb" id="vb"}
																			<a class="news_item" href="{:url('News/detail',array('nid'=>$vb['id']))}" target="_blank">
																<p title="{$vb.title}">{$vb.title}</p>
																<span>{$vb.createtime|mb_substr=0,10,'utf-8'}</span>
															</a>
															{/volist}	
															</div>
																</div>
															</li>
														</ul>
														<ul>
															<li>
																<div class="news_wrap">
																	<div class="news_list">
																		{volist name="rex" id="vx"}
																			<a class="news_item" href="{:url('News/detail',array('nid'=>$vx['id']))}" target="_blank">
																<p title="{$vb.title}">{$vx.title}</p>
																<span>{$vx.createtime|mb_substr=0,10,'utf-8'}</span>
															</a>
															{/volist}
																	</div>
																</div>
															</li>
														</ul>
														<ul>
															<li>
																<div class="news_wrap">
																	<div class="news_list">
																		{volist name="rets" id="vts"}
																			<a class="news_item" href="{:url('News/detail',array('nid'=>$vts['id']))}" target="_blank">
																<p title="{$vts.title}">{$vts.title}</p>
																<span>{$vts.createtime|mb_substr=0,10,'utf-8'}</span>
															</a>
															{/volist}
																	</div>
																</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>

										<div class="index_tab_btm">
											<div class="topic_box clearfix">
												<h6 class="topic_title float_lt"><a href="http://www.hazhoukou.gov.cn/ZTZL/Index?Id=941" target="_blank">专题专栏</a></h6>
												<div class="topic_right float_rt">
													<div class="bd">
														<ul>
															<li><a href="http://www.hazhoukou.gov.cn/ZTZL/Index?Id=941" target="_blank" title="">
																	<img src="__HOME__/img/topic_1.jpg" width="265" height="90" alt="">
																</a></li>
															<li><a href="http://www.hazhoukou.gov.cn/ZTZL/Index?Id=941" target="_blank" title="">
																	<img src="__HOME__/img/topic_2.jpg" width="265" height="90" alt="">
																</a></li>
															<li><a href="http://www.hazhoukou.gov.cn/ZTZL/Index?Id=941" target="_blank" title="">
																	<img src="__HOME__/img/topic_3.jpg" width="265" height="90" alt="">
																</a></li>
															<li><a href="http://www.hazhoukou.gov.cn/ZTZL/Index?Id=941" target="_blank" title="">
																	<img src="__HOME__/img/topic_4.jpg" width="265" height="90" alt="">
																</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- 政务公开 -->
									<div class="index_tab_item">
										<div class="index_box clearfix">
											<div class="affairs_left float_lt">
											 {volist name="zdxxs" id="vxs"  offset="0" length='9'}	
											  {if condition="$vxs.categoryurl eq '' "}
												<a class="affairs_left_item" href="{:url('News/index',array('id'=>$vxs['id']))}" target="_blank" title="{$vxs.name}">
											 {else /}
											 <a  class="affairs_left_item out_link" data-url="{$vxs.categoryurl}" href="javascript:;" target="_blank" title="{$vxs.name}" >

													{/if}	
													<div class="affairs_left_icon">
														<i class="iconfont {$vxs.iconname}"></i>
													</div>
													<p>{$vxs.name}</p>
												 </a>
												 {/volist}
											
											</div>
											<div class="affairs_mid float_lt">
												<div class="hd">
													<ul>
													{volist name="zdxxs" id="xs" key="ks" offset="9" length='3'}	
														<li {if condition="$ks eq 0"} class="on" {/if} >{$xs.name}</li>
												      {/volist}
													</ul>
												</div>
												<div class="bd">
														{volist name="newss" id="xst" offset="9" length='3'}	
													<ul>
													   
														<li>
															<h6 class="affairs_mid_title">
															{volist name="$xst['list']" id="newtop" offset="0" length='1'}	
															<a href="{:url('News/index',array('id'=>$newtop['id']))}" title="{$newtop.name}" target="_blank">
																	{$newtop.name}
															</a>
														</h6>
														{/volist}
															<div class="affairs_mid_box">
																<div class="news_list">
																		{volist name="$xst['list']" id="newtops" offset="1" length='5'}		
																	<a class="news_item" href="{:url('News/index',array('id'=>$newtops['id']))}" target="_blank">
															<p title="{$newtops.name}">{$newtops.name}</p>
															
														</a>
														{/volist}
																</div>
															</div>
														</li>
													</ul>
													{/volist}
												</div>
											</div>

											<div class="affairs_right float_rt">
												<ul class="affairs_right_top">
														{volist name="jcxxgks" id="vk"  offset="0" length='6'}	
													<li>
															{if condition="$vk.categoryurl eq '' "}
															{if condition="$vk.code eq 'ldzc' "}
															<a href="{:url('News/ldzc',array('id'=>$vk['id']))}" target="_blank">
															{else /}
														<a href="{:url('News/index',array('id'=>$vk['id']))}" target="_blank">
															{/if}
														{else /}
														<a href="javascript:;" target="_blank" data-url="{$vk.categoryurl}" class="out_link">
														{/if}
															<i class="iconfont {$vk.iconname}"></i>
															<p>{$vk.name}</p>
														</a>
													</li>

														{/volist}
											
												</ul>
												<ul class="affairs_right_tips">
														{volist name="jcxxgks" id="vks"  offset="6" length='5'}	
													<li>
															{if condition="$vks.categoryurl eq '' "}
														<a href="{:url('News/index',array('id'=>$vks['id']))}" target="_blank">
															{else /}
														<a href="javascript:;" target="_blank" data-url="{$vks.categoryurl}" class="out_link">
														{/if}
															{$vks.name}
														</a></li>
														{/volist}
												</ul>
											</div>
										</div>
										<div class="index_tab_btm">
											<ul class="affairs_menu">
												
												
											{volist name="gkzhs" id="vns"} 
												<li class="affairs_item">
													<a href="{:url('News/index',array('id'=>$vns['id']))}" target="_blank">
														<i class="iconfont {$vns.iconname}"></i>
														<span>{$vns.name}</span>
													</a>
												</li>
											{/volist}
											</ul>
										</div>
									</div>
									<!-- 政务服务 -->
									<div class="index_tab_item">
										<div class="index_box clearfix">
											<div class="service_left float_lt">
												<div class="service_left_top">
													<div class="banner_tab banner_box service_tab">
														<div class="hd">
															<ul>
																	{volist name="lb" id="lbvs"}
																<li class="on"></li>
																
																{/volist}
															</ul>
														</div>
														<div class="bd">
															<ul>
															 {volist name="lb" id="lbv"}	
																<li style="background-image: url(/uploads/{$lbv.image})">
																	<a href="javascript:;" class="out_link" data-url="{$lbv.url}" target="_blank"></a>
																</li>
																{/volist}
															</ul>
														</div>
													</div>
												</div>
												<div class="service_left_btm">
													<div class="service_do">
														<div class="hd">
															<ul>
																<li class="on">
																	<i class="iconfont icon-gerenshixin"></i>
																	<span>个人办事</span>
																</li>
																<li>
																	<i class="iconfont icon-falv"></i>
																	<span>法人办事</span>
																</li>
															</ul>
														</div>
														<div class="bd">
															<ul>
																<li><a href="http://zk.hnzwfw.gov.cn/" target="_blank">按主题</a></li>
																<li><a href="http://zk.hnzwfw.gov.cn/" target="_blank">按特定人群</a></li>
																<li><a href="http://zk.hnzwfw.gov.cn/" target="_blank">按人生部门</a></li>
																<li><a href="http://zk.hnzwfw.gov.cn/" target="_blank">按部门</a></li>
															</ul>
															<ul>
																<li><a href="http://zk.hnzwfw.gov.cn/" target="_blank">按主题</a></li>
																<li><a href="http://zk.hnzwfw.gov.cn/" target="_blank">按经营活动</a></li>
																<li><a href="http://zk.hnzwfw.gov.cn/" target="_blank">按指定对象</a></li>
																<li><a href="http://zk.hnzwfw.gov.cn/" target="_blank">按部门</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="service_mid float_lt">
												<div class="service_title">
													<span>便民服务</span>
												</div>
												<ul class="service_mid_list">
												  {volist name="bmfu" id="vf"}	
													<li><a href="{:url('Index/bmfu')}" target="_blank">
															<i class="iconfont {$vf.iconname}"></i>
															<p>{$vf.title}</p>
														</a></li>
											        {/volist}
													<li></li>
													<li></li>
												</ul>
											</div>
											<div class="service_right float_rt">
												<div class="service_title">
													<span>重点业务</span>
												</div>
												<div class="service_right_list">
													<div class="news_list">
													{volist name="zdyws" id="yws"}	
														<a class="news_item ful" href="{:url('News/detail',array('nid'=>$yws['id']))}" target="_blank">
															<p title="{$yws.title}">{$yws.title}</p>
														</a>
													{/volist}
													</div>
												</div>
											</div>
										</div>
										<div class="index_tab_btm">
											<ul class="service_btm_list">
												<li><a href="{:url('News/index',array('id'=>512))}" target="_blank" title="权责清单">
														<img src="__HOME__/img/service_btm_1.jpg" width="232" height="90" alt="">
													</a></li>
												<li><a href="http://zk.hnzwfw.gov.cn/" target="_blank" title="公共服务事项清单">
														<img src="__HOME__/img/service_btm_2.jpg" width="232" height="90" alt="">
													</a></li>
												<li><a href="http://zk.hnzwfw.gov.cn/" target="_blank" title="办事进度查询">
														<img src="__HOME__/img/service_btm_3.jpg" width="232" height="90" alt="">
													</a></li>
												<li><a href="http://zk.hnzwfw.gov.cn/" target="_blank" title="便民查询">
														<img src="__HOME__/img/service_btm_4.jpg" width="232" height="90" alt="">
													</a></li>
												<li><a href="http://zk.hnzwfw.gov.cn/" target="_blank" title="移动应用">
														<img src="__HOME__/img/service_btm_5.jpg" width="232" height="90" alt="">
													</a></li>
											</ul>
										</div>
									</div>
									<!-- 政民互动 -->
									<div class="index_tab_item">
											<iframe scrolling="no" src="http://221.176.200.22/zkhotline/website/jsp/sqList.jsp" frameborder="0" height="1300px" width="100%"></iframe>
										<!-- <div class="index_box clearfix">
											<div class="interact_left float_lt">
												<div class="interact_left_banner" style="background-image: url(__HOME__/img/interact_banner.jpg)"></div>
												<div class="interact_news_box">
													<div class="interact_news_title clearfix">
														<h5 class="red float_lt"><i class="iconfont icon-xinfengkai"></i>阳光信访</h5>
														<a class="float_rt common_more" href="news_list.html" target="_blank" title="查看更多">
	<i class="iconfont icon-jia"></i>
</a>
													</div>
													<div class="interact_news_list">
														<div class="news_list">
															<a class="news_item" href="news_detail.html" target="_blank">
	<p title="陈润儿主持召开省政府常务会议贯彻大力推进农村居民家庭“厕所革命“">陈润儿主持召开省政府常务会议贯彻大力推进农村居民家庭“厕所革命”</p>
	<span>2018-12-27</span>
</a>
															<a class="news_item" href="news_detail.html" target="_blank">
	<p title="陈润儿主持召开省政府常务会议贯彻大力推进农村居民家庭“厕所革命“">陈润儿主持召开省政府常务会议贯彻大力推进农村居民家庭“厕所革命”</p>
	<span>2018-12-27</span>
</a>
															<a class="news_item" href="news_detail.html" target="_blank">
	<p title="陈润儿主持召开省政府常务会议贯彻大力推进农村居民家庭“厕所革命“">陈润儿主持召开省政府常务会议贯彻大力推进农村居民家庭“厕所革命”</p>
	<span>2018-12-27</span>
</a>
														</div>
													</div>
												</div>
											</div>
											<div class="interact_right float_rt">
												<div class="interact_news_box">
													<div class="interact_news_title clearfix">
														<h5 class="blue float_lt"><i class="iconfont icon-suqiushouli"></i>全部诉求</h5>
														<a class="float_rt common_more" href="news_list.html" target="_blank" title="查看更多">
	<i class="iconfont icon-jia"></i>
</a>
													</div>
													<div class="interact_news_list">
														<div class="news_list">
															<a class="news_item" href="news_detail.html" target="_blank">
	<p title="陈润儿主持召开省政府常务会议贯彻大力推进农村居民家庭“厕所革命“">陈润儿主持召开省政府常务会议贯彻大力推进农村居民家庭“厕所革命”</p>
	<span>2018-12-27</span>
</a>
															<a class="news_item" href="news_detail.html" target="_blank">
	<p title="陈润儿主持召开省政府常务会议贯彻大力推进农村居民家庭“厕所革命“">陈润儿主持召开省政府常务会议贯彻大力推进农村居民家庭“厕所革命”</p>
	<span>2018-12-27</span>
</a>
															<a class="news_item" href="news_detail.html" target="_blank">
	<p title="陈润儿主持召开省政府常务会议贯彻大力推进农村居民家庭“厕所革命“">陈润儿主持召开省政府常务会议贯彻大力推进农村居民家庭“厕所革命”</p>
	<span>2018-12-27</span>
</a>
														</div>
													</div>
												</div>
												<div class="interact_news_box">
													<div class="interact_news_title clearfix">
														<h5 class="blue float_lt"><i class="iconfont icon-xuqiuzhengji"></i>已回复诉求</h5>
														<a class="float_rt common_more" href="news_list.html" target="_blank" title="查看更多">
	<i class="iconfont icon-jia"></i>
</a>
													</div>
													<div class="interact_news_list">
														<div class="news_list">
															<a class="news_item" href="news_detail.html" target="_blank">
	<p title="陈润儿主持召开省政府常务会议贯彻大力推进农村居民家庭“厕所革命“">陈润儿主持召开省政府常务会议贯彻大力推进农村居民家庭“厕所革命”</p>
	<span>2018-12-27</span>
</a>
															<a class="news_item" href="news_detail.html" target="_blank">
	<p title="陈润儿主持召开省政府常务会议贯彻大力推进农村居民家庭“厕所革命“">陈润儿主持召开省政府常务会议贯彻大力推进农村居民家庭“厕所革命”</p>
	<span>2018-12-27</span>
</a>
															<a class="news_item" href="news_detail.html" target="_blank">
	<p title="陈润儿主持召开省政府常务会议贯彻大力推进农村居民家庭“厕所革命“">陈润儿主持召开省政府常务会议贯彻大力推进农村居民家庭“厕所革命”</p>
	<span>2018-12-27</span>
</a>
															<a class="news_item" href="news_detail.html" target="_blank">
	<p title="陈润儿主持召开省政府常务会议贯彻大力推进农村居民家庭“厕所革命“">陈润儿主持召开省政府常务会议贯彻大力推进农村居民家庭“厕所革命”</p>
	<span>2018-12-27</span>
</a>
														</div>
													</div>
												</div>
											</div>
										</div>-->
										<div class="index_tab_btm">
											<ul class="interact_btm">
												<li><a href="javascript:;" target="_blank" title="民生诉求">
														民生诉求
													</a></li>
												<li><a href="javascript:;" target="_blank" title="我要诉求">
														我要诉求
													</a></li>
												<li><a href="javascript:;" data-url="http://www.hnxf.gov.cn" class="out_link" target="_blank" title="阳光信访">
														阳光信访
													</a></li>
											</ul>
										</div> 
									</div>
									<!-- 走进周口 -->
									<div class="index_tab_item">
										<div class="index_box">
											<div class="walkin_top clearfix">
												<div class="walkin_top_left float_lt">
													<div class="banner_tab banner_box walkin_tab float_lt">
														<div class="hd">
															<ul>
																	{volist name="lbz" id="lz"}
																
																<li></li>
																{/volist}
															</ul>
														</div>
														<div class="bd">
															<ul>
																{volist name="lbz" id="lz"}
																<li style="background-image: url(/uploads/{$lz.image})">
																	<a class="banner_txt" href="javascript:;" title="{$lz.name}">
																		<span>{$lz.name}</span>
																	</a>
																</li>
															 {/volist}
															</ul>
														</div>
													</div>
													<div class="walkin_top_txt float_rt">
														<h5>周口简介</h5>
														<p>{:strip_tags(mb_substr($zksqs['content'],0,310,'utf8'))}...<a
															 href="{:url('News/detail',array('nid'=>$zksqs['articleid']))}" target="_blank" title="查看详情">【详细】</a></p>
													</div>
												</div>
												<div class="walkin_top_right float_rt">
													<div class="walkin_top_title clearfix">
														<h6 class="float_lt">人文周口</h6>
														<a class="float_rt common_more" href="{:url('News/index',array('id'=>$rid))}" target="_blank" title="查看更多">
	<i class="iconfont icon-jia"></i>
</a>
													</div>
													<ul class="walkin_person">
													  {volist name="rwzks" id="vr"}	
														<li><a href="{:url('News/detail',array('nid'=>$vr['id']))}" target="_blank" title="{$vr.title}">{$vr.title}</a></li>
														{/volist}
													</ul>
												</div>
											</div>
											<div class="walkin_btm">
												<div class="walkin_lunbo">
													<div class="hd">
														<a class="next" href="javascript:;">&gt;</a>
														<a class="prev" href="javascript:;">&lt;</a>
													</div>
													<div class="bd">
														<ul>
														{volist name="lyjds" id="yv"}	
															<li style="background-image: url(/uploads/{$yv.coverimage})"><a href="{:url('News/detail',array('nid'=>$yv['id']))}" target="_blank" title="{$yv.title}">
		<p>{$yv.title}</p>
	</a></li>
	{/volist}
	
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="index_tab_btm">
											<div class="walkin_map">
												<div class="bd">
													<ul>
														{volist name="jczks" id="vk"}
														<li style="background-image: url(/uploads/{$vk.coverimage})"><a href="{:url('News/detail',array('nid'=>$vk['id']))}" target="_blank">
		{$vk.title}
	</a></li>
												{/volist}		
													</ul>
												</div>
											</div>
										</div>
									</div>
									<!-- 周口荟萃 -->
									<!-- <div class="index_tab_item">
										<div class="index_box clearfix">
											<div class="huicui_left float_lt">
												<ul class="huicui_title">
													<li class="active">
														<i class="iconfont icon-shezhi"></i>历史概况
													</li>
													<li class="">
														<i class="iconfont icon-diqiu"></i>自然资源
													</li>
													<li class="">
														<i class="iconfont icon-hangzhengqu"></i>行政区划
													</li>
												</ul>
												<ul class="huicui_body">
													<li class="active">
														<div>市内历史上多以淮阳为中心建制，1965年成立周口专员公署后，驻周口镇(今川汇区)。原政治、经济、文化中心淮阳，古为宛丘，太昊之墟，据传，神农所都之地。夏为豫州之域,
															殷为虞遂封地，厉(今鹿邑东)系活动中心。周武王封舜后妫满于陈，是周首封十大诸侯国之一。春秋仍为陈国。战国时期，公元前479年楚灭陈，以陈为县。前278年楚顷襄王徙都于此，为“郢陈”称“西楚”。秦统一全国后，置陈郡,二世元年(前209年)陈胜、吴广在陈定都，国号“张楚”西汉初为淮阳郡，高帝十一年(前196年)置淮阳国，属豫州刺史部。三国魏置陈郡，属豫州。西晋初沿旧制，武帝合陈郡于梁国，惠帝复置陈郡仍属豫州。南朝宋初属南豫州南梁郡,后置陈郡和南顿郡，均治项县(今沈丘槐店)。南齐仍置陈、南顿二郡，南顿郡移治南顿。北魏置陈郡南顿郡和汝阳郡。武定元年(543年)侨置丹阳郡和秣陵县。丹阳郡属北扬州，州、郡均治项县(今沈丘槐店)。北齐百姓不附侯景改北扬州为信州，置陈郡属信州，州、郡均治项县今沈丘槐店)。北齐百姓不附侯景改北扬州为信州，置陈郡属信州，州、郡均治项县(今淮阳县城)，又置淮阳郡，治阳夏(今太康)，淮阳郡、丹阳郡亦属信州。北周改信州为陈州。隋初为淮<a
															 href="news_detail.html" target="_blank" title="查看详情">【详细】</a></div>
													</li>
													<li>
														<div>市内历史上多以淮阳为中心建制，1965年成立周口专员公署后，驻周口镇(今川汇区)。原政治、经济、文化中心淮阳，古为宛丘，太昊之墟，据传，神农所都之地。夏为豫州之域,
															殷为虞遂封地，厉(今鹿邑东)系活动中心。周武王封舜后妫满于陈，是周首封十大诸侯国之一。春秋仍为陈国...<a href="news_detail.html" target="_blank" title="查看详情">【详细】</a></div>
													</li>
													<li>
														<div>市内历史上多以淮阳为中心建制，1965年成立周口专员公署后，驻周口镇(今川汇区)。原政治、经济、文化中心淮阳，古为宛丘，太昊之墟，据传，神农所都之地。夏为豫州之域...<a href="news_detail.html"
															 target="_blank" title="查看详情">【详细】</a></div>
													</li>
												</ul>
											</div>
											<div class="huicui_right float_rt">
												<div class="walkin_top_title clearfix">
													<h6 class="float_lt">发展周口</h6>
												</div>
												<ul class="huicui_list clearfix">
													<li><a href="news_list.html" target="_blank">
															<i class="iconfont icon-nongye"></i>
															<p>农业概况</p>
														</a></li>
													<li><a href="news_list.html" target="_blank">
															<i class="iconfont icon-gongyeqitahangyeqiye"></i>
															<p>工业概况</p>
														</a></li>
													<li><a href="news_list.html" target="_blank">
															<i class="iconfont icon-jianzhu"></i>
															<p>城镇建设</p>
														</a></li>
													<li><a href="news_list.html" target="_blank">
															<i class="iconfont icon-shehuishiye"></i>
															<p>社会事业</p>
														</a></li>
													<li><a href="news_list.html" target="_blank">
															<i class="iconfont icon-jichusheshi"></i>
															<p>基础设施</p>
														</a></li>
													<li><a href="news_list.html" target="_blank">
															<i class="iconfont icon-touzi"></i>
															<p>投资贸易</p>
														</a></li>
													<li><a href="news_list.html" target="_blank">
															<i class="iconfont icon-16000"></i>
															<p>开发区建设</p>
														</a></li>
												</ul>
												<div class="huicui_pic" style="background-image:url(__HOME__/img/huicui_pic.jpg)"></div>
											</div>
										</div>
										<div class="index_tab_btm">
											<ul class="huicui_btm">
												<li><a href="news_list.html" target="_blank" title="人文周口">
														人文周口
													</a></li>
												<li><a href="news_list.html" target="_blank" title="美食特产">
														美食特产
													</a></li>
												<li><a href="news_list.html" target="_blank" title="精彩周口">
														精彩周口
													</a></li>
												<li><a href="news_list.html" target="_blank" title="旅游景点">
														旅游景点
													</a></li>
											</ul>
										</div>
									</div> -->
								</div>
							</div>

						</div>

					</div>
				</header>
			</div>
		</section>

		<!-- 外链跳转模态窗 -->
		<!-- <div class="model_bg" id="model_bg"></div>
		<div class="model_box" id="model_box">
			<div class="model_title">
				您访问的链接即将离开”周口市人民政府网“门户网站是否继续？
			</div>
			<div class="model_btn">
				<a class="model_goon" href="javascript:;" onclick="go_to();" target="_blank">继续访问</a>
				<a class="model_giveup" id="model_giveup" href="javascript:;">放弃</a>
			</div>
			<div class="model_close" id="model_close">
				<a href="javascript:;">
					<i class="iconfont icon-guanbi1"></i>
				</a>
			</div>
		</div> -->

		{include file="public:footer"}
	</section>

	<script>
		// 轮播图
		jQuery(".banner_tab").slide({
			mainCell: ".bd ul",
			effect: "left",
			autoPlay: true,
			delayTime: 700
		});

		// 选项卡
		jQuery(".news_box").slide({
			effect: "fade",
			trigger: "mouseover"
		});

		jQuery(".affairs_mid").slide({
			effect: "fade",
			trigger: "click"
		});

		jQuery(".service_do").slide({
			effect: "fade",
			trigger: "click"
		});

		//图片
		jQuery(".topic_right").slide({
			mainCell: ".bd ul",
			autoPlay: true,
			effect: "leftMarquee",
			vis: 4,
			interTime: 50,
			trigger: "click"
		});

		// 头条新闻滚动
		jQuery("#news_wrap").slide({
			mainCell: ".bd ul",
			autoPlay: true,
			effect: "leftMarquee",
			interTime: 50,
			vis: 3,
			trigger: "click"
		});

		// 走进周口
		jQuery(".walkin_lunbo").slide({
			titCell: ".hd ul",
			mainCell: ".bd ul",
			autoPage: true,
			effect: "left",
			autoPlay: true,
			trigger: "click",
			vis: 8
		});

		// 县市轮播
		jQuery(".walkin_map").slide({
			mainCell: ".bd ul",
			autoPlay: true,
			effect: "leftMarquee",
			vis: 9,
			interTime: 50,
			trigger: "click"
		});

		var bg = {
			isOpen: true,
			cheng_div_height: $('.cheng_div').height(),
			header_logo_left: $('.header_logo').position().left,
			header_logo_top: $('.header_logo').position().top,
			header_other_left: $('.header_other').position().left,
			header_other_top: $('.header_other').position().top
		}

		function moveDiv(speed) {
			$('.header_logo').animate({
				left: '350px',
				top: '100px'
			}, speed, function () {
				bg.header_logo_left = $(this).position().left
				bg.header_logo_top = $(this).position().top
			})
			$('.header_other').animate({
				left: '340px',
				top: '250px'
			}, speed, function () {
				bg.header_other_left = $(this).position().left
				bg.header_other_top = $(this).position().top
			})
		}

		moveDiv(1000)

		var initTime = setTimeout("bgchange()", 3000)

		// 背景特效
		function bgchange(speed) {

			var index_nav = $('.index_nav'),
				header_logo = $('.header_logo'),
				header_other = $('.header_other'),
				header_news = $('.header_news')

			header_logo.animate({
				left: bg.isOpen ? 0 : bg.header_logo_left + 'px',
				top: bg.isOpen ? 0 : bg.header_logo_top + 'px'
			}, speed)

			header_other.animate({
				left: bg.isOpen ? '708px' : bg.header_other_left + 'px',
				top: bg.isOpen ? 0 : bg.header_other_top + 'px'
			}, speed)

			index_nav.toggleClass('transparent')

			cheng_div()

			$('.index_tab_list').slideToggle(1500)
			$('.header_news').slideToggle(1500)

			bg.isOpen = !bg.isOpen
		}

		function cheng_div() {
			var cheng_div = $('.cheng_div'),
				cheng_height = bg.isOpen ? 0 : bg.cheng_div_height + 'px'

			cheng_div.animate({
				height: cheng_height
			}, 1500)
		}

		$('.index_action').click(function () {
			bgchange(1200)
			clearTimeout(initTime)
		})
		
	</script>
</body>

</html>