<!DOCTYPE html>
<html>
{include file="public:header"}
<link rel="stylesheet" type="text/css" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/ztzl/wclc/css/myStyle.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
<body>
    <div class="header">
        <div class="banner">
            
        </div>
     
    </div>
    <div class="main">
        <div class="main-content">
            <div class="main-section1">
                <div class="section1_lf lf">
                    <div data-am-widget="slider" class="am-slider am-slider-c2" data-am-slider="{&quot;directionNav&quot;:false}">
                        <ul class="am-slides">
                              {volist name="banner" id="vb"}
                                    <li>
                                        <a href="{:url('News/detail',array('nid'=>$vb['id']))}">
                                            <img src="/uploads/{$vb.coverimage}" />
                                            <div class="am-slider-desc">
                                                {$vb.title}
                                            </div>
                                        </a>
                                    </li>
                              {/volist}
                        </ul>
                    </div>
                </div>
                <div class="section_rg rg">
                    <div class="title">
                        <div class="til_con">
                            <span>最新动态</span>
                        </div>
                        <a href="{:url('News/index',array('nid'=>1810))}">更多+</a>
                    </div>
                    <div class="section_list">
                        <ul>
                           {volist name="res" id="v"}
                      <li><img src="/static/ztzl/wclc/img/dian.png" alt="" />
                        <a href="{:url('News/detail',array('nid'=>$v['id']))}">
                            <span class="sp1">{$v.title}</span>
                            <span class="sp2">{$v.createtime|mb_substr=0,10,'utf8'}</span>
                        </a></li>

                          {/volist} 
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="main-section3">
                <div class="section3_lf lf">
                    <div class="title">
                        <div class="title_con">
                            <span>全国文明城市提名城市</span>
                          
                        </div>
                    </div>
                    <div class="section_list">
                        <ul style="height:330px;overflow-y: scroll;">
						    <p>
    ■总体要求<br>
    深入推进创建文明城市工作，切实完善城市功能，不断提升市民文明素质和社会文明程度，为我市决胜全面小康实现跨越发展提供强大精神力量和良好社会环境。<br>
    ■工作目标<br>
    举全市之力大干三年，实现2017年启动创建、2018年夯实基础、2019年巩固提升，力争2020年获得全国文明城市提名城市称号。<br>
    ■工作要求<br> 加强组织领导。坚持一把手亲自抓、党政领导共同抓，形成党委统一领导、文明委统筹协调、党政群齐抓共管、全社会积极参与的工作格局。细化分解任务。把工作任务明确分解到单位领导和具体人员，把各项工作任务的完成时间具体到季度、月份和每周。营造浓厚氛围。新闻媒体和网络媒体开设专题专栏。加大户外宣传的力度，积极营造良好的创建工作舆论氛围。加大创建投入。各地各单位给予创建工作必要的投入。将机构、人员、经费、投入作为创建工作考评的重要内容。严格考核奖惩。严格按照创建全国文明城市提名城市工作检查考核办法，对创建工作实行专项检查、半年考评、年终总评。<br>
■实施步骤<br>
规划部署 全面启动（2017年）<br>
1.启动中心城区创建全国文明城市提名城市工作。<br>
2.广泛开展创建工作宣传和创建活动。<br>
3.全市各城区、各部门、各单位结合自身实际，推动创建工作常态化、规范化。<br>
4.加强对创建工作人员业务知识培训。<br>
5.做好创建资料的收集整理归档工作。<br>
6.做好年度河南省城市文明程度指数测评迎检工作。<br>
夯实基础 突出重点（2018年）<br>
1.积极实施中心城区主次干道拓宽、道路改扩建和断头路打通工程，实施美化亮化，建设一批社区公园、街头游园、公共绿地。<br>
2.新建、改建一批“两小市场”、垃圾中转站、公厕、停车场等，不断完善城市功能。<br>
3.扎实开展“三进三评”活动，高标准建设一批文明示范社区。<br>
4.加强创城工作督导，及时发现、总结存在问题，认真查漏补缺。<br>
5.扎实做好创建资料的收集整理归档工作。<br>
6.做好省文明办组织的年度河南省城市文明程度指数测评迎检工作。<br>
扎实推进 巩固成果（2019年）　　<br>
1.对照《河南省社会文明程度指数测评体系》标准要求，查找薄弱环节，加大整改力度，力争各项指标达标。<br>  
2.针对存在的突出问题，攻坚克难，不断掀起创建工作高潮，提高创建指标达标率。<br>
3.进一步做好创建资料的收集整理归档工作。<br>
4.全力迎接好省级文明城市年度届满复查考核，确保我市继续保持河南省文明城市称号。<br>
全面提升 迎接测评（2020年）<br>
1.1至5月份，对照测评体系和任务分工，逐项自查，发现问题，及时整改，确保各项指标全部达标。<br>
2.进一步做好创建资料的收集、整理，高质量完成创建资料的归档工作。<br>
3.组织制作创建全国文明城市提名城市宣传片和编印宣传画册；广泛开展创建宣传活动，营造铺天盖地、热火朝天的创建氛围。<br>
4.向省文明委正式提出申报全国文明城市提名城市的请示，力争我市进入全国文明城市提名城市行列。<br>
							</p>
                         
                        </ul>
                    </div>
                </div>
                <div class="section3_rg rg">
                    <div class="title">
                        <div class="title_con">
                            <span>省级卫生城市</span>
                            
                        </div>
                    </div>
                    <div class="section_list">
                        <ul style="height:330px;overflow-y: scroll;">
						    <p>
■指导思想<br>
大力开展创建省级卫生城市工作，力争2017年年底前达到省级卫生城市标准。<br>
■工作任务目标<br>
加强爱国卫生组织管理。完善市、区两级爱国卫生运动委员会。乡镇、村设立爱国卫生运动委员会领导小组。确保群众对全市卫生状况满意率达到90%以上。<br>
加大健康教育力度。完善健康教育设施，落实健康教育经费。完善健身设施设备，75%以上的社区建有体育健身设施。确保城市建成区无烟草广告。<br>
改善环境卫生，优化市容市貌。确保城市生活垃圾无害化处理率≥85%。取缔露天占道经营行为。科学规划城市绿地系统编制，确保建成区绿化覆盖率≥32%，人均公共面积≥7.5平方米。<br>
加强环境监测、监督和管理。确保环境空气质量指数（AQI）或空气污染指数（API）不超过100的天数≥240天，环境空气主要污染物年平均值达到国家二级标准。集中式饮用水水源地一级保护区水质达标率100%，安全保障率100%。<br>
加大重点场所卫生监管力度。完善公共场所的卫生监管制度，建立并实施公共场所卫生监督量化分级管理机制。<br>
强化食品和生活饮用水卫生安全保障。确保不出现重大食品安全事故。确保食品安全监督量化分级管理率≥85%。确保肉类食品安全上市。确保饮用水符合《生活饮用水卫生标准》。<br>
加强传染病防治。疫情报告及时、处理规范，漏报率＜2%。适龄儿童免疫规划疫苗接种率达到90%以上。<br>
加强病媒生物的预防控制。要通过综合防治，确保病媒得到有效控制，达到全国爱卫会规定的标准。<br>
■实施步骤 创建活动分为四个阶段：<br>
第一阶段：宣传动员（2017/8/17-2017/8/27）<br>
成立以张广东副市长为组长的创建省级卫生城市工作组。创卫工作组制定全市创建工作计划，组织全市创卫工作检查、指导协调、督促和评比表彰活动。召开创建省级卫生城市工作动员大会，各责任部门和单位制订具体创建工作方案。健全和完善各级爱国卫生组织网络，调整补充爱国卫生运动委员会组成人员。完善市、区、办事处三级健康教育网络。将健康教育、病媒生物防治、农村改水改厕三项经费纳入财政预算，增加市区创卫专项经费。<br>
第二阶段：全面落实任务（2017/8/28-2017/9/30）<br>
健康教育<br>  中小学校开设健康教育课，各大中专院校开展多种形式的健康教育活动。各级医院采取多种形式，有针对性地向病人及其家属开展健康教育活动。城区各办事处开展多种形式的健康教育活动。各行业结合本单位特点开展健康教育活动。在周新闻媒体开辟创建省级卫生城市工作专题栏目和健康教育专栏。大型公共场所设立创卫宣传和健康教育大型公益广告或电子屏幕。公共场禁止吸烟，取缔建成区范围内各种烟草广告。<br>
市容环境<br>  制定市容环境卫生工作长期规划。增加环卫基础设施建设投资，环卫设施完好率达98%以上。完善绿地规划，加大城市绿化力度。市容整洁，街道路面平整，抓好城市亮化、美化工程。全面落实区域环境卫生目标责任制。加强城区主次干道综合整治。加强建筑工地管理。规范各种经营活动。加强交通秩序整治。加强集贸市场管理。加强市区河道、沟、坑塘治理。城区人行道彩砖完好率达90%以上。
环境保护  加强工业废气、废水、废渣和城市噪声防治，加大机动车尾气监测和治理力度。城市饮用水源水质达标，医疗废弃物处理和废水排放达标。<br>
重点场所卫生 <br> 各类公共场所和食品生产经营单位卫生许可证、从业人员健康证持证率100%。传染病患者调离率100%。各类公共场所有健全的卫生制度，主要卫生指标达到国家标准。加强预防性卫生监督，公共场所严格执行《公共场所卫生管理条例》。
食品和生活饮用水安全<br>  认真贯彻《食品卫生法》《传染病防治法》及《突发公共卫生事件应急条例》。加强监督检查力度，食品生产、经营单位均持有有效卫生许可证。从业人员持有效健康证上岗。自来水厂出水水质、二次供水水质符合国家《生活饮用水卫生标准》。<br>
公共卫生和医疗服务  加强市区疾病预防控制机构建设。全市医疗机构和中心乡镇卫生院实行传染病及突发公共卫生事件网络直报。落实免疫规划配套经费，儿童五苗接种率≥95%。<br>
病媒生物预防控制  市爱卫办尽快成立或聘请专业消杀队。保证全市病媒生物防治工作监督监测数据系统完整可靠。加强宾馆、饭店等场所鼠、蚊、蝇、蟑螂的处理与消杀工作。<br>
社区和单位卫生  切实加强机关单位、居民区卫生管理。社区和单位卫生制度健全，落实“门前三包”“门内达标”责任制。<br>
城中村、城乡接合部卫生<br>  环卫设施齐全、布局合理，公厕数量达标，符合卫生要求。鼠、蚊、蝇、蟑螂等病媒生物防制措施有效落实。农村产品市场、环境保护和“六小门店”管理符合有关规定。设置健康教育专栏，卫生与健康知识宣传材料进村入户。<br>
第三阶段：重点攻坚（2017/10/1-2017/10/31）<br>
市创卫工作组组织模拟达标检查，硬件设施在本阶段内达标率达80%以上。针对发现的问题，采取集中攻坚、专项整治、责令整改、责任追究等方法促进整改达标。<br>
第四阶段：迎接评估检查（2017/11/1-2017/12/31）<br>
创建省级卫生城市各项指标全面达标，并做好巩固提高工作。通过全面检查，抓住薄弱环节，实行重点突破，巩固创建成果。迎接省卫生城市专家组对我市进行考核验收，确保实现创建达标。
							</p>
                        
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main-section4">
                <div class="section_moudel">
                    <div class="title">
                        <div class="title_con">
                            <span>国家园林城市</span>
                          
                        </div>
                    </div>
                    <div class="section_list">
                         <ul style="height:330px;overflow-y: scroll;">
						    <p>
■总体目标<br>
2018年9月前，力争城市七个方面指标达到或超过国家园林城市标准。<br>
2018年9月申报国家园林城市。<br>
2019年11月底前通过住房和城乡建设部考核验收，实现国家园林城市创建目标。<br>
■工作步骤<br>
●宣传动员（2017年8月至10月）<br>
组建市创建国家园林城市工作组，制订方案，分解任务，落实责任。<br>
●创建实施及申报（2017年11月至2019年3月）<br>
对照《国家园林城市系列标准》和创建目标任务，确保创建工作稳步推进。2019年9月向住建部正式提出申报。<br>
●自查巩固（2019年4月至10月）<br>
对前期创建工作全面自查，进一步巩固创建成果。<br>
●迎接验收（2019年11月）<br>
2019年6月30日前完成由住建部组织的问卷调查、遥感测试；11月30日前，迎接考查验收。<br>
■创建任务<br>
●科学规划生态布局<br>
高标准修订《周口市城市绿地系统规划》，编制《城市湿地资源保护规划》等相关规划。<br>
●加快城市绿地建设<br>
多管齐下，增加城市绿量。居民出行300米见绿、500米见园。<br>
注重特色，提升绿化品位。打造滨河两岸绿色长廊。开工建设城西公园、川汇公园、铁西公园。<br>
开展社会绿化，提升居住区和单位绿地质量。到2018年，园林式居住区、单位达标率达到50%以上。<br>
●加强城市景观的保护和管理<br>
保护历史文化资源。重点搞好关帝庙及周边古建民宅、中华五千年的保护和开发。<br>
保护城市古树名木。制定《周口市古树名木保护办法》，发挥古树名木的良好景观效应。<br>
实施城市景观工程。到2018年，建成10条以上“街容示范路”。<br>
●改善城市生态环境<br>
搞好城市大环境绿化，加大对中心城区水系的综合整治力度，到2018年，全年空气质量优良天数≥292天。<br>
●配套城市基础设施<br>
到2018年形成与城市污水处理工程相适应的污水集纳体系。<br>
■主要措施<br>
●统一思想，狠抓落实<br>
●深入宣传，广泛动员<br>
●严格执法，依法行政<br>
●理顺体制，强化管理<br>
●广辟渠道，加大投入<br>
●依托科技，提高水平<br>
■组织领导<br>
●创建国家园林城市工作组负责组织、指导和协调工作。<br>
●创建国家园林城市工作办公室，具体负责创建的日常工作。<br>
●四区成立相应的领导小组。

							</p>
                         
                        </ul>
                    </div>
                </div>
                <div class="section_moudel">
                    <div class="title">
                        <div class="title_con">
                            <span>全国双拥模范城市</span>
                          
                        </div>
                    </div>
                    <div class="section_list">
                        <ul style="height:330px;overflow-y: scroll;">
						    <p>
■目标任务<br>
全面达到创建全国双拥模范城考核标准，实现成功创建全国双拥模范城目标。<br>
■工作措施<br>
第一阶段（2017年）：动员准备<br>
健全完善双拥工作机构，明确双拥成员单位职责，保证创建工作顺利推进。双拥办自身制度健全，组织得力，人员合署办公，双拥工作经费足额保障。驻周各部队结合创建工作要求，进一步完善军地、军民共建工作制度和活动计划。<br>
第二阶段（2018年）：组织实施<br>
做好双拥宣传工作，积极推进军民融合发展。<br>
第三阶段（2019年）：自  查<br>
依据新的全国双拥模范城考评标准，查遗补缺，逐条落实。<br>
第四阶段（2020年）：迎  检<br>
为迎接创建全国双拥模范城工作检查做好准备。<br>
■创建标准<br>
1、组织领导坚强有力<br>
各级党委、政府和驻军领导机关把双拥工作纳入总体规划，纳入党政军领导干部政绩考核范围。<br>
2、宣传教育广泛深入<br>
积极开展全民国防教育和双拥宣传。推进国防教育主题公园建设，每年7月定为双拥宣传月。<br>
3、拥军工作扎实有效<br>
广泛开展科技、教育、文化、法律拥军，推进双拥工作社会化。<br>
4、拥政爱民成果显著<br>
大力开展双拥创建、文明创建、平安创建活动，积极为党委、政府和人民群众办实事。<br>
5、政策法规落到实处<br>
认真贯彻执行有关国防建设和加强军政军民团结的法律、规章制度，不断完善与之相配套的政策。<br>
6、双拥活动要经常化<br>
年度有计划、季度有安排，节日有走访、平时有活动。推进双拥工作社会化、经常化、制度化。<br>
7、军民共建成效明显<br>
军民共学科学理论、共树文明新风、共育优秀人才、共办文化活动。<br>
8、军政军民团结融洽<br>
地方党委、政府和人民群众拥护军队、爱戴军人，关心部队建设。部队尊重地方党委、政府，融入地方工作。<br>

							</p>
                          
                        </ul>
                    </div>
                </div>
                <div class="section_moudel">
                    <div class="title">
                        <div class="title_con">
                            <span>全国绿化模范城市</span>
                          
                        </div>
                    </div>
                    <div class="section_list">
                        <ul style="height:330px;overflow-y: scroll;">
						    <p>
■工作目标<br>
今冬明春是创建全国绿化模范城市工作的冲刺阶段，力争2019年创建成功。<br>
■实施步骤<br>
第一阶段（2017年8月）宣传发动，制订方案<br>
第二阶段（2017年9月）自查验收，组织初检<br>
第三阶段（2017年10月）查漏补缺，接受预检<br>
第四阶段（2017年11月至12月）形成报告，提出意见<br>
第五阶段（2018年1月至4月）对照方案，整改完善<br>
第六阶段（2018年5月至10月）整理资料，迎接检查<br>
■主要绿化目标<br>
1.城市建成区绿化覆盖率达40%以上，绿地率达35%以上，人均公园绿地面积达12平方米以上。<br>
2.全市森林覆盖率达15%以上；乡镇建成区绿化覆盖率达35%以上。<br>
3.植树成活率达90%以上，保存率达85%以上，全民义务植树建卡率达95%以上。<br>
4.城市主干道绿地率达25%以上，次干道绿地率达20%以上。<br>
5.新建小区绿地率不低于30%；旧居住区改造绿地率不低于25%。<br>
6.廊道绿化率达95%以上，城郊接合部建有环城绿化带或绿化片林。<br>
■主要任务<br>
1、建立体制<br>
2、加大造林力度<br>
3、完善城区绿化<br>
4、巩固成果<br>
5、加大宣传力度<br>
6、材料准备与报批
							</p>
                        
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
   {include file="public:footers"}
</body>
</html>