<!DOCTYPE html>
<html>
{include file="public:header"}

<body class="no-skin">
<!--头部-->
{include file="public:nav"}

<div class="main-container ace-save-state" id="main-container">
  <!--菜单-->
  <script type="text/javascript">
  try{ace.settings.loadState('main-container')}catch(e){}
</script>

{include file="public:left"}

  <div class="main-content">
    <div class="main-content-inner">
      <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
          <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{:url('Index/index')}">首页</a>
          </li>
          <li class="active">栏目列表</li>
        </ul><!-- /.breadcrumb -->

      </div>

      <div class="page-content">

        {include file="public:set"}

        <div class="row">
          <div class="col-xs-12">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="page-header">
                <div class="row">
                  <div class="col-sm-4">
                    <button class="btn btn-success btn-white btn-bold" data-toggle="modal" data-target="#add">
                      <i class="ace-icon fa fa-plus icon-only"></i>
                      添加
                    </button>
                   
                    <button class="btn btn-danger btn-white btn-bold del-btn">
                      <i class="ace-icon fa fa-trash-o icon-only"></i>
                      删除
                    </button>
                  </div>

                 <div class="col-sm-8 clearfix">
                    <form class="form-inline pull-right" action="{:url('Link/index')}" method="post">
                   
                      <div class="form-group">
                        <div class="input-group">
									<span class="input-group-addon">
										<i class="ace-icon fa fa-check"></i>
									</span>
                          <input type="text" name="keywords"  class="form-control search-query" {if condition="$keywords neq '' "} value="{$keywords}" {/if}
                                 placeholder="请输入需查询的关键字">
                          <span class="input-group-btn">
										<button type="submit" class="btn btn-info btn-sm ajax-search-form">
											<span class="ace-icon fa fa-search icon-on-right bigger-120"></span> 搜索
									</button>
									</span>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th class="center">
                    <label class="pos-rel">
                      <input type="checkbox" class="ace checkAll">
                      <span class="lbl"></span>
                    </label>
                  </th>
                  <th>ID</th>
                  <th>分类名称</th>
                 
                  <th>创建人</th>
                  <th>修改时间</th>
                  <th>排序</th>
                  <th style="border-right:#ddd solid 1px;">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="v"}
                <tr>
                  <td class="center"><label class="pos-rel">
                    <input type="checkbox" class="ace check" value="{$v.id}">
                    <span class="lbl"></span>
                  </label>
                  </td>
                  
                  <td><span class="badge badge-grey">{$v.id}</span></td>
                  <td>{$v.title}</td>
                  <td>{$v.realname}</td>
                  <td>{$v.createtime}</td>
                  <td>{$v.orderid}</td>
                  <td>
                    <button class="btn btn-xs btn-info" onclick="ajaxQuery('modify',{$v.id},readData)">
                      <i class="ace-icon fa fa-pencil bigger-120"></i>修改
                    </button>

                    <button class="btn btn-xs btn-danger" type="button" onclick="dels({$v.id})">
                      <i class="ace-icon fa fa-trash-o bigger-120"></i>删除
                    </button>
                   
                  </td>
                </tr>
                {/volist}
                {empty name="list"}<tr><td colspan="11" class="text-center">暂无数据</td></tr>{/empty}
                </tbody>
              </table>
              <div class="text-center">
                <ul class="pagination">
                  {$page}
                </ul>
              </div>
            </div>
            <!-- PAGE CONTENT BEGINS -->

            <!-- PAGE CONTENT ENDS -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.page-content -->
    </div>
  </div><!-- /.main-content -->
  <!-- Modal -->
  <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">添加</h4>
        </div>
        <div class="modal-body">
          <form id="modal-form" class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label no-padding-right" for="">分类名称</label>
              <div class="col-sm-8">
                <input id="title" class="form-control" type="text" name="title" placeholder="请输入分类名称" required>
              </div>
             
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label no-padding-right" for="">排序</label>
              <div class="col-sm-8">
                <input id="orderid" class="form-control" type="number" value="0" name="orderid" placeholder="请输入排序" required>
                <span>数字越大越靠前</span>
              </div>
              <input type="hidden" name="id" id="id" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button id="save-btn" type="button" class="btn btn-primary">保存</button>
        </div>
      </div>
    </div>
  </div>

  {include file="public:footer"}

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
  <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->



<script>
  jQuery(function($) {
    $('[data-rel=tooltip]').tooltip();

    $( "#hide-option" ).tooltip({
      hide: {
        effect: "explode",
        delay: 250
      }
    });

  })
</script>
<script type="text/javascript">
  function dels(id){
    layer.confirm('你确定删除吗？', {icon: 3}, function(index){
      layer.close(index);
      $.ajax({
        type:"post",
        url:"{:url('Link/delete')}",
        data:{id:id},
        datatype:"text",
        success:function(re){
            if(re == 2 || re==1){
                layer.msg("系统繁忙请稍后再试");
                setTimeout("location.reload()",2000);
            }        
            if(re == 0){
              layer.msg("删除成功")
              setTimeout("location.reload()",2000);
            }
          }
          })  
    });
    }
  </script>

  <script>
    $(function () {
      //添加-模态框
      $("#save-btn").on(ace.click_event,function () {
        //获取form表单,执行ajaxSubmit提交
        var title = $("#title").val();
    	  if($.trim(title) == ''){
        	  layer.alert("请输入分类名称！",{icon:5});
        	  return false;
          }
          var orderid = $("#orderid").val();
    	  if($.trim(orderid) == ''){
        	  layer.alert("请输入排序！",{icon:5});
        	  return false;
          }
    	var id = $("#id").val();
        $("#add").ajaxSubmit({
          url: "{:url('Link/save')}",
          type: 'post',
          data:{title:title,id:id,orderid:orderid},
          datatype:"text",
          success: function(res){
            //后台返回状态,保存成功
            if(res.code == 1){
              success(res.msg);
              
              setTimeout("location.reload()",2000);
            
            }else{
              error(res.msg);
              
              setTimeout("location.reload()",2000);
            }
          }
        })
      })
    });

    //向模态框写入数据
    function readData(data) {
    	$(".modal-title").text('修改');
      $("#id").val(data.id);
      $("#orderid").val(data.orderid);   
      $("#title").val(data.title);  
      $('#add').modal('show');
    }

    function gs() {
      console.log(1)
    }
  //bs模态框关闭事件回调函数
    $('#add').on('hidden.bs.modal', function (e) {
  // do something...
  $('#modal-form').get(0).reset();
  $(".modal-title").text('添加');
  $("#id").val("");
	})

  </script>
</body>
</html>
