
<ul class="index_nav">
    <li class="index_nav_item on">
        <a href="{:url('Index/index')}" title="网站首页"><img src="__HOME__/img/icon_home.png" width="20" height="20" alt="">网站首页</a>
    </li>
    <li class="index_nav_item">
        <a href="{:url('Gover/index')}" title="政务公开"><img src="__HOME__/img/icon_zhengwu.png" width="20" height="20" alt="">政务公开</a>
    </li>
    <li class="index_nav_item">
        <a href="{:url('Serve/index')}" title="政务服务"><img src="__HOME__/img/icon_fuwu.png" width="20" height="20" alt="">政务服务</a>
    </li>
    <li class="index_nav_item">
        <a href="{:url('Interact/index')}" title="政民互动"><img src="__HOME__/img/icon_hudong.png" width="20" height="20" alt="">政民互动</a>
    </li>
    <li class="index_nav_item">
        <a href="{:url('Appro/index')}" title="走进周口"><img src="__HOME__/img/icon_zoujin.png" width="20" height="20" alt="">走进周口</a>
    </li>
    <!-- <li class="index_nav_item">
        <a href="index.html" title="周口荟萃">周口荟萃</a>
    </li> -->
</ul>