
<ul class="index_nav">
    <li class="index_nav_item on">
        <a href="{:url('Index/index')}" title="网站首页">网站首页</a>
    </li>
    <li class="index_nav_item">
        <a href="{:url('Gover/index')}" title="政务公开">政务公开</a>
    </li>
    <li class="index_nav_item">
        <a href="{:url('Serve/index')}" title="政务服务">政务服务</a>
    </li>
    <li class="index_nav_item">
        <a href="{:url('Interact/index')}" title="政民互动">政民互动</a>
    </li>
    <li class="index_nav_item">
        <a href="{:url('Appro/index')}" title="走进周口">走进周口</a>
    </li>
    <!-- <li class="index_nav_item">
        <a href="index.html" title="周口荟萃">周口荟萃</a>
    </li> -->
</ul>