<div class="header_top">
        <h1 class="header_logo">
            <a href="index.html" title="周口市人民政府">周口市人民政府
                <img src="/uploads/{$logo.sitelogo}" width="462" height="86" alt="">
            </a>
        </h1>
        <div class="header_other">
            <div class="header_search">
                <form action="{:url('Search/search_result')}" method="POST">
                    <input type="text" placeholder="请输入关键字" name="search">
                        <i class="iconfont icon-xingtaiduICON_sousuo--"></i>
                    <button class="header_search_btn" type="submit">搜索</button>
                </form>
            </div>
            <div class="header_date clearfix">
                <div class="header_riqi float_lt">
                    <div id="now_date"></div>
                </div>
                <div class="header_weather float_rt">
                    <iframe width="300" scrolling="no" height="20" frameborder="0" allowtransparency="true" src="//i.tianqi.com/index.php?c=code&id=11&color=%23FFFFFF&icon=1&py=zhoukou&site=16"></iframe>
                </div>
            </div>
        </div>

    </div>