<!DOCTYPE html>
<html>
{include file="public:header"}
<link rel="stylesheet" href="__ADMIN__/js/themes/default/style.min.css">
<script src="__ADMIN__/js/jstree.min.js"></script>
<body class="no-skin">
<!--头部-->
{include file="public:navs"}

<div class="main-container ace-save-state" id="main-container">
  <!--菜单-->
  <script type="text/javascript">
  try{ace.settings.loadState('main-container')}catch(e){}
</script>

{include file="public:lefts"}

  <div class="main-content">
    <div class="main-content-inner">
      <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
          <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{:url('Index/index')}">首页</a>
          </li>
          <li class="active">修改导航栏目</li>
        </ul><!-- /.breadcrumb -->

      </div>

      <div class="page-content">
        {include file="public:set"}
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
          <div class="col-sm-3">
              <!-- <div class="widget-box ui-sortable-handle" id="widget-box-1"> -->
              <div class="widget-box transparent" id="widget-box-1">
                  <div class="widget-header">
                  <h5 class="widget-title">栏目</h5>
                  <div class="widget-toolbar">
                  <div class="widget-menu">
                  <a href="#" data-action="settings" data-toggle="dropdown">
                  <i class="ace-icon fa fa-bars"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right dropdown-light-blue dropdown-caret dropdown-closer">
                  <li>
                  <a data-toggle="tab" href="#dropdown1">Option#1</a>
                  </li>
                  <li>
                  <a data-toggle="tab" href="#dropdown2">Option#2</a>
                  </li>
                  </ul>
                  </div>
                  <a href="#" data-action="fullscreen" class="orange2">
                  <i class="ace-icon fa fa-expand"></i>
                  </a>
                  <a href="#" data-action="reload">
                  <i class="ace-icon fa fa-refresh"></i>
                  </a>
                  <a href="#" data-action="collapse">
                  <i class="ace-icon fa fa-chevron-up"></i>
                  </a>
                  <a href="#" data-action="close">
                  <i class="ace-icon fa fa-times"></i>
                  </a>
                  </div>
                  </div>
                  <div class="widget-body">
                    <div class="widget-main">
                      <div id="column"></div>
                    </div>
                  </div>
                  </div>
          </div>
          <div class="col-sm-9">
              <form id="modal-form" class="form-horizontal" action="{:url('Column/usaves')}" method="post" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="widget-box transparent">
                      <div class="widget-header widget-header-flat">
                        <h4 class="widget-title"><i class="ace-icon fa fa-leaf green"></i>栏目信息</h4>
                        <!-- <div class="widget-toolbar no-border">
                            <button class="btn btn-xs btn-success bigger" id="add" type="button">
                              <i class="ace-icon fa fa-plus"></i>
                              添加
                            </button>
                            <button class="btn btn-xs bigger btn-danger dropdown-toggle" id="delete" data-toggle="dropdown" type="button">
                              <i class="ace-icon fa fa-remove icon-on-right"></i>
                            删除
                            </button>
                          
                            </div> -->
                      </div>
                      <div class="widget-body">
                        <div class="widget-main">
                          
                         
                          <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="">所属导航</label>
                            <div class="col-sm-10">
                              <select class="form-control" name="parentid">
                               {volist name="res" id="v"}
                                <option {if condition="$re['parentid'] eq $v['id']"}selected{/if}  value="{$v.id}">{$v.name}</option>
                                {/volist}
                              
                              </select>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="">所属栏目块</label>
                            <div class="col-sm-10">
                              <select class="form-control" name="kuaiid">
                              
                                <option {if condition="$re['kuaiid'] eq 1"}selected{/if}  value="1">栏目块1</option>
                                <option {if condition="$re['kuaiid'] eq 2"}selected{/if}  value="2">栏目块2</option>
                                <option {if condition="$re['kuaiid'] eq 3"}selected{/if}  value="3">栏目块3</option>
                                <option {if condition="$re['kuaiid'] eq 4"}selected{/if}  value="4">栏目块4</option>
                                <option {if condition="$re['kuaiid'] eq 5"}selected{/if}  value="5">栏目块5</option>
                                <option {if condition="$re['kuaiid'] eq 6"}selected{/if}  value="6">栏目块6</option>
                                <option {if condition="$re['kuaiid'] eq 7"}selected{/if} value="7">栏目块7</option>
                                <option {if condition="$re['kuaiid'] eq 8"}selected{/if}  value="8">栏目块8</option>
                                <option {if condition="$re['kuaiid'] eq 9"}selected{/if} value="9">栏目块9</option>
                                <option {if condition="$re['kuaiid'] eq 10"}selected{/if} value="10">栏目块10</option>
                                <option {if condition="$re['kuaiid'] eq 11"}selected{/if} value="11">栏目块11</option>
                                
                              
                              </select>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="">所选栏目</label>
                            <div class="col-sm-10">
                              <input class="form-control" type="text" id="duiyingname" readonly name="categorynamelist" value="{$re.categorynamelist}" placeholder="从左侧选择栏目">
                              <input name="categoryidlist" id="duiyingid" type="hidden" value="{$re.categoryidlist}" />
                            </div>
                          </div>
                        
                     
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
               
               <input name="id" type="hidden" value="{$re.id}" />
                <div class="clearfix form-actions">
                  <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit">
                      <i class="ace-icon fa fa-floppy-o bigger-110"></i>
                      保存
                    </button>
                    <button class="btn" type="button">
                      <i class="ace-icon fa fa-undo bigger-110"></i>
                      重置
                    </button>
                  </div>
                </div>
              </form>
          </div>
        </div>
        </div><!-- /.row -->
      </div><!-- /.page-content -->
    </div>
  </div><!-- /.main-content -->

{include file="public:footer"}

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
  <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->
<script>
  jQuery(function($) {
    $('#thumb').ace_file_input({
        style: 'well',
        btn_choose: '封面图',
        btn_change: null,
        no_icon: 'ace-icon fa fa-picture-o',
        droppable: true,
        thumbnail: 'fit'//large | fit
        //,icon_remove:null//set null, to hide remove/reset button
        /**,before_change:function(files, dropped) {
						//Check an example below
						//or examples/file-upload.html
						return true;
					}*/
        /**,before_remove : function() {
						return true;
					}*/
        ,
        preview_error: function (filename, error_code) {
          //name of the file that failed
          //error_code values
          //1 = 'FILE_LOAD_FAILED',
          //2 = 'IMAGE_LOAD_FAILED',
          //3 = 'THUMBNAIL_FAILED'
          //alert(error_code);
        }

      }).on('change', function () {
        //console.log($(this).data('ace_input_files'));
        //console.log($(this).data('ace_input_method'));
      });


    $('.input-daterange').datepicker({
		  autoclose:true,
		  language:"zh-CN",
          format:"yyyy-mm-dd"
          });
   
    $('[data-rel=tooltip]').tooltip();

    $( "#hide-option" ).tooltip({
      hide: {
        effect: "explode",
        delay: 250
      }
    });
    // 获取节点数组
    var idarr = $('#duiyingid').val().split(',');
    
    function getList(id,texts) {
 
      var strarr = $('#duiyingname').val() !== "" ? $('#duiyingname').val().split(',') :  []
     
      if(idarr.indexOf(id) == -1) {
        strarr.push(texts)
        idarr.push(id)
      }else {
        strarr.splice(strarr.indexOf(texts),1)
        idarr.splice(idarr.indexOf(id),1)
      }
      
      return {
        names: strarr,
        ids: idarr
      }
    }
    
    // jstree
    var columData = {$data};
    var oldname = ''
    $('#column').jstree({'core': {
      'data':columData
    },
    "checkbox": {
      "keep_selected_style": false,
      "real_checkboxes": true,

      "tie_selection": false
    },
    'plugins': ['state', 'types', 'dnd', 'checkbox']
    }).on('loaded.jstree', function(e,data) {
      data.instance.clear_state()
    }).on("activate_node.jstree", function (e, data) {
  
       var node = data.node,
          id = node.id,
          text = node.text
          checked = node.state.checked,
          duiyingname = $('#duiyingname'),
          duiyingid = $('#duiyingid');
        
       if(text == "周口政府"){
         checked=false;
         return false;
       }

       $.ajax({
         type:"post",
         url:"{:url('Column/find')}",
         data:{id:id},
         datatype:"json",
         success:function(re)
         {
             var re = JSON.parse(re);

             var redata = getList.call(this,id,re.name)
           
             
             duiyingname.val(redata.names);
             duiyingid.val(redata.ids);
  
         }

       })
    });
  })
</script>
<script>
 $("#add").click(function()
 {
   var id = $("#id").val();
   if(id == ''){
     layer.msg("请先选择上级栏目");return false;
   }else{
      location.href="__URL__/add/parentid/"+id;
   }
 })
</script>
<script type="text/javascript">
		function dels(id){
			layer.confirm('你确定删除吗？', {icon: 3}, function(index){
		    layer.close(index);
		    $.ajax({
            type:"post",
            url:"{:url('Message/delete')}",
              data:{id:id},
              datatype:"text",
              success:function(re){
                if(re == 2 || re == 1){
                    layer.msg("系统繁忙请稍后再试");
                    setTimeout("location.reload()",2000);
                }
                
                if(re == 0){
                  layer.msg("删除成功")
                  setTimeout("location.reload()",2000);
                }
              }
          })
		  });
	    }
    </script>
    
    <script>
       
  $(".del-btnt").on(ace.click_event,function(){
	var valarr = [];
	var checkitem = $(".check:checked")
    var len = checkitem.length;
    if(len>0){
    	for(let i = 0; i < len;i++){
    		valarr.push(checkitem.eq(i).val())
    	}
      layer.confirm('你确定通过审核?',{icon: 3},function (index) {
        layer.close(index);
        window.location.href="adopt/id/"+valarr;
      });
    }else{
      layer.msg("请先选择数据");
    }
  });
    </script>

<script>
   
$(".del-btnj").on(ace.click_event,function(){
var valarr = [];
var checkitem = $(".check:checked")
var len = checkitem.length;
if(len>0){
  for(let i = 0; i < len;i++){
    valarr.push(checkitem.eq(i).val())
  }
  layer.confirm('你确定拒绝审核?',{icon: 3},function (index) {
    layer.close(index);
    window.location.href="refuse/id/"+valarr;
  });
}else{
  layer.msg("请先选择数据");
}
});
</script>
<script>
  $(function(){
    $('#modal-form').ajaxForm({
      beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
      success: complete, // 这是提交后的方法
      dataType: 'json'
    });
    
    function checkForm(){
      
      
      }
  
    function complete(data){
      if(data.status==1){
        layer.alert(data.msg, {icon: 5}, function(index){
         layer.close(index);
         window.location.href=data.url;
        });
        
      }else{
        layer.alert(data.msg, {icon: 6}, function(index){
         layer.close(index);
         window.location.href=data.url;
        });
        
      }
    }
   
  });
  
  </script>

</body>
</html>
